:root {
  --color-primary: #fff;
  --color-secondary: #1a1a1a;
  --color-hero-primary: #490B3D;
  --color-hero-secondary: #fff;
  --color-blob-left: #ff006acb;
}
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Lexend;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}