.home {
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
}

.home .Homeleft {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    gap: 1rem;
    /* background-color: red; */
}

.home .right {
    width: 50%;
    height: 90%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}

.info {
    width: 70%;
    text-align: justify;
}

.homeTitle {
    font-size: 64px;
}
.titleMinimal {
    color: #F1B814;
}
.titleFast {
    color: #BD1E51;
}
.titleScalable {
    color: #490B3D;
}

.marqItem {
    padding-left: 50px;
}

.marq {
    padding-top: 3%;
}

.actionBtns {
    display: flex;
    height: 20%;
    align-items: center;
    gap: 2rem;

}   

.actionBtn {
    cursor: pointer;
}

.thingBtn {
    width: 100%;
    height: 100%;
    background-color: var(--color-hero-primary);
    border-radius: 20px;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.thingText {
    width: fit-content;
    height: 100%;
    color: var(--color-hero-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionBtnLink {
    width: 40%;
    height: 9vh;
}