.contact {
    height: 55vh;
    width: 100%;
}

.contact .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 2rem;
}

.contactHeader {
    width: 50%;
    font-size: 8rem;
    color: var(--color-hero-primary);
}

.contactInput {
    border: 2px solid var(--color-hero-primary);
    width: 80%;
    padding: 15px;
    border-radius: 10px;
}

.userInfo {
    display: flex;
    gap: 2rem;
}

.emailer {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}
.messageInput {
    width: 100%;
    height: 200px;
}